name: CI

on:
  release:
    types:
      - published
    
env:
  rust_toolchain: stable

permissions:
  contents: write

jobs:
  compile:
    name: Compile
    runs-on: ubuntu-22.04

    steps:
      - name: Setup | Checkout
        uses: actions/checkout@v4

        
      - name: Extract version from tag
        id: extract_version
        run: |
          # Remove the "v" prefix if present
          BASE_VERSION="${{ github.ref_name }}"
          VERSION=${BASE_VERSION#v}
          echo "version=$VERSION" >> $GITHUB_ENV

      - name: Update version in Cargo.toml
        run: |
          sed -i "s/^version = \".*\"/version = \"$VERSION\"/" Cargo.toml
        env:
          VERSION: ${{ env.version }}

      # fixes missing libclang error
      # - name: Setup | libncurses5
      #   run: sudo apt-get install libncurses5

      - name: Setup | Rust
        uses: dtolnay/rust-toolchain@master
        with:
          toolchain: nightly-2024-12-01
          components: rustfmt, clippy

      - name: Setup | Std
        run: rustup component add rust-src --toolchain nightly-2024-12-01


      - uses: Swatinem/rust-cache@v2

      - name: Install Rust for Xtensa
        uses: esp-rs/xtensa-toolchain@v1.5
        with:
          default: true
          version: "latest"
          ldproxy: true
      - name: Install Cargo-Binstall
        uses: cargo-bins/cargo-binstall@main
      - name: Install ESPflash
        run: cargo binstall espflash --no-confirm
      - name: Cache Cargo
        uses: Swatinem/rust-cache@v2

      # - name: Setup | ldproxy
      #   run: cargo install ldproxy   
      - name: Build | Compile (production)
        run: |
          export VERSION=${{{ github.ref_name }}#v}
          cargo build --release
        env:
          VERSION: ${{ env.version }}

      - name: Merge Binary
        run: espflash save-image --chip esp32c3 target/riscv32imc-esp-espidf/release/td-free-rs td-free.bin
      - name: Release
        uses: softprops/action-gh-release@v2
        with:
          append_body: true
          files: td-free.bin
      

      
